@import "./variables.scss";

.top-spacer{
    margin-top: 0px;
    margin-bottom: 40px;
    opacity: 0;
}

.amicaform {
    position: relative;
    margin: $bm $bm;
    padding-top: 7px;
    max-width: $break-big;
    @media screen and (min-width: $break-big) {
        margin: $bm auto;
    }

    h4, h5{
        text-align: left;
    }
    h5 {
        font-weight: bold;
    }
    .dashed-background{
        border: 1px dashed rgb(110, 110, 110);
        background-color: #dfdede;
        border-radius: 10px;
        overflow: hidden;
    }

    .drop {
        display: block;
        vertical-align: top;
        margin: 0 auto;
        @media screen and (min-width: $break-small) {
            display: inline-block;
        }
    }

    textarea {
        resize: none;
    }
    textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus,
    select:focus {   
        border-color: rgba(227, 19, 41, 0.8);
        box-shadow: 0 1px 1px rgba(227, 19, 41, 0.075) inset, 0 0 8px rgba(227, 19, 41, 0.6);
        outline: 0 none;
    }
    img {
        object-fit: cover;
    }
}